<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>REGISTER</title>

    <style>
        body {
            font-family: 'Exo', sans-serif;

        }

        .bold {
            font-family: 'Righteous', cursive;
        }

        .body-page {
            background-image: url("/img/bg-image.jpeg");
            /*background-repeat: no-repeat;*/
            background-size: cover;
        }

        .main {
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }
        .regData{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .mt{
            margin-top: 10px;
        }
    </style>
</head>
<body class="bold body-page">
<div class="main">
    <div class="regData">
    <div style="width: 50%" class="pl-5 pr-5 pb-5 pt-2 border rounded mt border-light">
        <h1 style="color: whitesmoke" class="font-weight-light">REGISTER</h1>
        <span th:text="${message}" th:if="${message != null}"></span>
        <form action="#" th:action="@{/registerUser}" th:object="${user}" method="post">
            <div class="form-group mt">
                <input style="background-color: rgba(61,61,61,0.11);color: whitesmoke" th:type="text" name="name"
                       th:field="*{name}"
                       class="form-control border border-light" placeholder="Enter Name"/>
            </div>
            <div class="form-group mt">
                <input style="background-color: rgba(61,61,61,0.11);color: whitesmoke" type="text" th:field="*{surname}"
                       name="surname"
                       class="form-control border border-light" placeholder="Enter Surame"/>
            </div>
            <div class="form-group mt">
                <input style="background-color: rgba(61,61,61,0.11);color: whitesmoke" type="text" th:field="*{age}"
                       name="surname"
                       class="form-control border border-light" placeholder="Enter Age"/>
            </div>
            <div class="form-group mt">
                <input style="background-color: rgba(61,61,61,0.11);color: whitesmoke" type="tel"
                       th:field="*{phoneNumber}" name="tel"
                       class="form-control border border-light" placeholder="Enter Phone Number"/>
            </div>
            <div class="form-group mt">
                <input style="background-color: rgba(61,61,61,0.11);color: whitesmoke" type="text"
                       th:field="*{username}"
                       name="surname"
                       class="form-control border border-light" placeholder="Enter Username"/>
            </div>
            <div class="form-group mt">
                <input style="background-color: rgba(61,61,61,0.11);color: whitesmoke" type="email" th:field="*{email}"
                       name="email"
                       class="form-control border border-light" placeholder="Enter Email"/>
            </div>
            <div class="form-group mt">
                <input style="background-color: rgba(61,61,61,0.11);color: whitesmoke" type="password"
                       th:field="*{password}"
                       name="password"
                       class="form-control border border-light" placeholder="Enter  Password"/>
            </div>
            <div class="form-group mt">
                <input style="background-color: rgba(61,61,61,0.11);color: whitesmoke" th:field="*{repeatPassword}"
                       type="password" name="password"
                       class="form-control border border-light" placeholder="Enter Repeat Password"/>
            </div>
            <div class="d mt">
                <form action="#" th:action="@{/register}" th:method="post">
                    <input th:type="submit" style="background-color: rgba(0,0,0,0.11);color:whitesmoke;width: 100%"
                           value="REGISTER"
                           class="btn btn-secondary border border-light">
                    </input>
                </form>
            </div>
        </form>
    </div>
    </div>
</div>
</body>
</html>
